---
#########################################################################
###
##       Ansible Managed File            | {{ ansible_managed }}
##       Last updated from template_host | {{ template_host }}
##
##  Author: Daniel Sol
###
#########################################################################

